/.env
/.env.testing
/vendor/
/storage/logs/*
!/storage/logs/.gitignore
/storage/uploads/*
!/storage/uploads/.gitignore
/storage/private/onboarding/*.json
/storage/private/onboarding/*.json
/.phpunit.cache/
/.phpunit.result.cache
/coverage/
/var/
frontend